/*
 * WP Quiz Pro Plugin by MyThemeShop
 * https://mythemeshop.com/plugins/wp-quiz-pro/
*/
.wq_quizCtr { width: 100%; margin-bottom: 20px; }
.wq_quizCtr.multiple .wq_singleQuestionWrapper { margin-bottom: 0; }
.wq_quizCtr.fb_quiz_quiz .wq_singleQuestionWrapper { text-align: center; }
.wq_quizCtr.fb_quiz_quiz .wq_questionsCtr { margin-bottom: 0; }
.wq_questionsCtr { margin-bottom: 20px; }
.wq_singleQuestionWrapper { margin-bottom: 50px; }
.wq_singleQuestionWrapper.wq_isAd { text-align: center; }
.wq_singleQuestionWrapper.wq_isAd img { width: auto; }
.wq_singleQuestionWrapper:last-of-type { margin-bottom: 0; }
.wq_singleQuestionWrapper .wq_continue { text-align: center; }
.wq_singleQuestionWrapper .wq_continue button, button.wq_beginQuizSwiperCtr, .wq_triviaQuizTimerInfoCtr button { color: white; background-color: #8BC34A; padding: 12px; margin: 30px 0 10px 0; border-radius: 4px; border: 0px; font-size: 18px; box-shadow: none; cursor: pointer; font-weight: bold; }
.wq_resultsCtr { width: 100%; margin: 0 auto; }
.wq_singleResultWrapper { padding: 10px 20px 20px 20px; margin-top: 20px; font-size: 18px; width: 100%; box-sizing: border-box; background: #F9F9F9; border: 1px solid #ECECEC; }
.wq_singleResultWrapper.wq_IsFb { margin-top: 0; }
.wq_singleResultWrapper.wq_IsSwiperResult { width: 360px; margin: 0 auto; padding: 0; border: 0; float: none; background: transparent; border-bottom: 1px solid #ddd; }
.wq_singleResultWrapper .wq_resultScoreCtr { font-weight: bold; }
.wq_singleResultWrapper .wq_quizTitle { display: block; font-weight: bold; margin-bottom: 5px; }
.wq_singleResultWrapper .wq_resultTitle { margin-bottom: 10px; }
.wq_singleResultWrapper .wq_shareCtr { padding-top: 0; }
.wq_singleResultWrapper p { margin-bottom: 0; }
.wq_singleResultWrapper .wq_shareCtr button, .wq_quizForceShareCtr button, .wq_questionLogin button { height: 40px; margin: 10px 7px 0 0px; overflow: hidden; padding: 0; min-width: 40px; text-transform: none; font-weight: normal; line-height: 40px; border: 0; color: #fff; font-weight: bold; font-size: 14px; cursor: pointer; }
.wq_singleResultWrapper .wq_shareCtr button > i, .wq_quizForceShareCtr button > i , .wq_questionLogin button > i { margin-top: 0; line-height: 40px; width: 40px; }
.wq_singleResultWrapper .wq_shareCtr button > span, .wq_quizForceShareCtr button > span, .wq_questionLogin button > span { display: inline-block; border-left: 1px solid rgba(0, 0, 0, 0.1); vertical-align: middle; padding-left: 12px; padding-right: 14px; min-width: 94px; box-sizing: border-box; text-align: left; }
.wq_singleResultWrapper .wq_shareCtr .wq_shareFB, .wq_quizForceShareCtr .wq_forceShareFB, .wq_questionLogin .wq_loginFB, .wq_questionLogin .wq_playFB { background: #305c99; }
.wq_quizCtr .wq_singleResultWrapper.wq_IsFb { background: transparent; border: 0; padding: 0; }
.wq_quizForceShareCtr p { margin-bottom: 10px; font-size: 20px; font-weight: bold; }
.wq_quizForceShareCtr button { margin-right: 0; }
.wq_singleResultWrapper .wq_shareCtr .wq_shareTwitter { background: #00cdff; }
.wq_singleResultWrapper .wq_shareCtr .wq_shareGP { background: #d24228; }
.wq_singleResultWrapper .wq_shareCtr .wq_shareVK { background: #567ca4; margin-right: 0; }
.wq_singleResultWrapper.wq_IsSwiperResult .wq_shareCtr { padding: 15px 0; width: 100%; box-sizing: border-box; text-align: center; }
.wq_singleResultWrapper.wq_IsSwiperResult .wq_shareCtr button { float: none; display: inline-block; }
.wq_singleResultWrapper.wq_IsSwiperResult .wq_shareCtr button span { display: none; }
.flip_quiz .wq_singleResultWrapper .wq_shareCtr { padding-top: 0; }
.wq_singleResultRow .wq_resultExplanation, .wq_resultExplanation .wq_resultExplanationLongDesc { display: none; }
.wq_triviaQuizTimerInfoCtr { text-align: center; font-weight: bold; font-size: 18px; }
.wq_triviaQuizTimerInfoCtr p { margin-bottom: 0; }
.wq_triviaQuizTimerCtr { position: fixed; top: 50px; left: 50px; text-align: center; width: 50px; line-height: 50px; border-radius: 50%; color: #fff; background-color: #FF5722; display: none; }
.wq_shareCtr p, .wq_questionLogin p { margin-bottom: 0; }
.wq_singleQuestionWrapper .wq_continue button:hover, .wq_singleResultWrapper .wq_shareCtr button:hover, .wq_quizEmailCtr form button:hover, .wq_quizForceShareCtr botton:hover, .wq_triviaQuizTimerInfoCtr button:hover { }
.wq_quizCtr .wq_quizProgressBarCtr .wq_quizProgressBarCtr { margin-bottom: 30px; }
.wq_quizCtr .wq_quizProgressBar { background-color: #ebebeb; box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.1); box-sizing: initial; color: #fff; font-size: 11px; height: 18px; line-height: 1.285; margin: 6px 0; position: relative; text-align: center; width: 100%; border-radius: 10px; margin: 0 1px; }
.wq_quizCtr .wq_quizProgressBar > span { float: left; margin: 0 -1px; min-width: 30px; line-height: 16px; text-align: right; border: 1px solid; border-radius: 10px; box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2); width: 10px; display: block; height: 100%; overflow: hidden; padding: 0 3px; position: relative; background: #85c440; border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3); box-sizing: border-box; }
.wq_questionTextCtr { float: left; padding: 12px 20px; background: #eee; }
.wq_singleQuestionCtr { margin-bottom: 0; }
.wq_questionTextCtr h4 { margin: 0; font-size: 28px; line-height: 1; color: inherit; }
.wq_questionTextDescCtr p { font-size: 14px; margin-top: 10px; line-height: 15px; }
.wq_quizCtr img { max-width: 100%; height: auto; width: 100%; vertical-align: middle !important; }
img.wq_resultImg { margin-bottom: 10px; }
.wq_triviaQuestionExplanation { padding: 10px 10px 0 10px; border: 1px solid #dddddd; display: none; margin: 20px 0 0 0; clear: both; width: 100%; box-sizing: border-box; }
.wq_IsPersonality .row, .wq_IsTrivia .row { margin: 0; margin-bottom: 10px; }
.col-md-wq-6 { width: 49%; float: left; }
.col-md-wq-6:last-child { float: right; }
.col-md-wq-6:first-child { float: left; }
.col-md-wq-4 { width: 32%; float: left; margin-right: 2%; }
.col-md-wq-4:last-child { float: right; margin-right: 0; }
.col-md-wq-4:first-child, .col-md-wq-4:nth-child(2),.col-md-wq-4:nth-child(5) { float: left; }
.wq_answerImgCtr { margin-bottom: 8px; }
.wq_answersWrapper .row:before, .wq_answersWrapper .row:after { content: " "; display: table; }
.wq_answersWrapper .row:after { clear: both; }
p.wq_QuestionExplanationText { margin: 10px 0; }
.wq_quizEmailCtr form p:first-child { margin-bottom: 20px; font-weight: bold; font-size: 24px; text-align: left; }
.wq_quizEmailCtr form p:last-child { margin-bottom: 0; }
.wq_quizEmailCtr div { margin-bottom: 20px; }
.wq_quizEmailCtr label { display: block; text-align: left; }
.wq_quizEmailCtr form input { text-shadow: none; height: 50px; width: 100%; margin: 0 auto; border: 1px solid #ddd; font-size: 16px; margin-top: 5px; box-sizing: border-box; }
.wq_quizEmailCtr form button { background: #3498db; color: white; box-shadow: none; border: none; padding: 15px 20px; font-size: 16px; text-shadow: none; font-weight: bold; cursor: pointer; display: block; }
.wq_retakeQuizCtr { text-align: center; clear: both; }
.wq_retakeQuizCtr > button { margin: 20px 0; }
.wq_retakeQuizBtn { background-color: #333; border: 0; color: #fff; cursor: pointer; font-size: 20px; font-weight: 700; padding: 10px; }
.wq_retakeSwiperBtn { color: #fff; border: 0; background: #9E9E9E; cursor: pointer; padding: 10px; border: 1px solid #9E9E9E; border-radius: 3px; font-weight: bold; margin-top: 15px; }
.wq_retakeSwiperBtn:hover { background-color: #8BC34A; color: #fff; border-color: #8BC34A; }
.wq_QuestionWrapperSwiper { padding: 35px; overflow: hidden; box-sizing: border-box; }
.wq_IsSwiper { position: relative; background: #fff; width: 100%; height: 100%; }
.wq_IsSwiper ul { margin: 0; position: relative; display: block; height: 100%; padding: 0; }
.wq_IsSwiper li.activeSlide { position: relative; }
.wq_IsSwiper li { display: block; width: auto; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; opacity: 0; box-shadow: 0 0 20px rgba(0, 0, 0, .1); text-align: center; padding: 5px; background: #f9f9f9; font-size: 24px; color: #000; border: 1px solid rgba(96, 96, 96, 0.2); backface-visibility: hidden; webkit-backface-visibility: hidden; cursor: -webkit-grab; cursor: grab; }
.wq_IsSwiper .img { height: 100% !important; width: 100%; position: relative; overflow: hidden; pointer-events: none; vertical-align: middle; }
.wq_IsSwiper .slide_info { display: table; width: 100%; float: left; font-size: 18px; margin-top: 10px; line-height: 1; }
.wq_IsSwiper .slide_title { display: table-cell; text-align: left; padding-left: 4px; }
.wq_IsSwiper .slide_index { display: table-cell; text-align: right; padding-right: 4px; }
.wq_questionsCtr .actions { text-align: center; width: 304px; padding-top: 20px; margin: 0 auto; overflow: hidden; max-width: 100%; }
.wq_questionsCtr .actions a { display: inline-block; color: #a7a7a7; margin: 10px; width: 40px; line-height: 40px; position: relative; text-align: center; border-radius: 50%; outline: none; box-shadow: 0px 1px 2px #aaa, inset 0px 2px 3px #fff; background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); text-decoration: none; border-bottom: none; font-size: 24px; }
.wq_questionsCtr .actions a i { color: #4CAF50; }
.wq_questionsCtr .actions a i.fa-thumbs-o-down { color: #F44336; }
.elasticBack { transition: tranform,.4s !important; transition-timing-function: cubic-bezier(.6,-.28,.74,.05); }
.elasticBackOut { transition: tranform,.4s; transition-timing-function: cubic-bezier(.755,.05,.855,.06); }
.resultUpDownVote { line-height: 1; margin-bottom: 5px; }
.wq_IsSwiper .sprite-check { position: absolute; top: 25px; left: 25px; z-index: 4; width: 40px; height: 40px; line-height: 40px; font-size: 1em; display: block; background: #4CAF50; color: #fff; border-radius: 5em; opacity: 0; }
.wq_IsSwiper .sprite-times { opacity: 0; position: absolute; top: 25px; right: 25px; z-index: 4; width: 40px; height: 40px; line-height: 40px; font-size: 1em; display: block; background: #F44336; color: #fff; border-radius: 5em; }
.wq_IsSwiper .sprite-times:after { width: 18px; height: 18px; background-position: -31px -31px; top: 10px; left: 10px; }
.wq_IsSwiper .sprite-check:after { width: 18px; height: 18px; background-position: -3px -3px; top: 10px; left: 10px; }
.wq_IsSwiperResult .sprite-times:after { width: 12px; height: 12px; background-position: -22px -63px; position: inherit; }
.wq_IsSwiperResult .sprite-check:after { width: 15px; height: 15px; background-position: -3px -60px; position: inherit; }
.wq_IsSwiperResult  .userVote .sprite-times:after { width: 12px; height: 12px; background-position: -170px -61px; position: inherit; }
.wq_IsSwiperResult  .userVote .sprite-check:after { width: 15px; height: 15px; background-position: -149px -59px; position: inherit; }
.showDislike .fa-times, .showDislike .sprite-times { opacity: 1; }
.showLike .fa-check , .showLike .sprite-check { opacity: 1; }
.wq_IsSwiperResult h3 { font-size: 16px; padding: 12px; margin: 0; text-align: center; background-color: #8BC34A; border-radius: 4px 4px 0 0; color: #fff; }
.wq_IsSwiperResult .resultItem { display: table; width: 100%; padding: 10px; border-bottom: 1px solid #dbdbdb; background-color: #fff; box-sizing: border-box; }
.wq_IsSwiperResult .resultItem:last-child { border-bottom: 0; }
.wq_IsSwiperResult .resultImageWrapper { display: table-cell; width: 35%; position: relative; }
.wq_IsSwiperResult .resultImageWrapper img { width: 100%; height: 100px; vertical-align: middle; }
.wq_IsSwiperResult .resultImageWrapper .indexWrapper { width: 30px; line-height: 30px; text-align: center; background-color: #8BC34A; color: #ffffff; position: absolute; top: 0; left: 0; font-size: 14px; }
.wq_IsSwiperResult .resultContent { display: table-cell; vertical-align: top; padding: 0 5px 0 20px; font-size: 15px; position: relative; }
.wq_IsSwiperResult .resultUpVote, .wq_IsSwiperResult .resultDownVote { font-weight: bold; margin-right: 14px; }
.wq_IsSwiperResult .resultContent i { color: #85c440; margin-right: 4px; }
.wq_IsSwiperResult .resultContent i.fa-times { color: #F44336; }
.wq_IsSwiperResult .resultContent > div:first-child { margin-top: -5px; }
.wq_IsSwiperResult .wq_retakeSwiperWrapper { text-align: center; }
.wq_IsSwiperResult .userVote { color: #fff; text-align: center; bottom: 0; padding: 0 12px; border-radius: 20px; margin-top: 10px; float: left; width: auto; background: #8BC34A; }
.wq_IsSwiperResult .userVote.negativeVote { background: #FF5722; }
.wq_IsSwiperResult .resultList { width: 100%; max-height: 435px; overflow: auto; border: 1px solid #dbdbdb; border-top: 0; border-bottom: 0; box-sizing: border-box; }
.wq_swiperQuizPreviewInfoCtr { text-align: center; font-size: 18px; font-weight: bold; }
.wq_swiperQuizPreviewInfoCtr p { margin-bottom: 0; }
.wq_singleQuestionWrapper.wq_IsFlip { text-align: center; margin-bottom: 40px; position: relative; clear: both; overflow: hidden; }
.wq_singleQuestionWrapper.wq_IsFlip:first-of-type { margin-top: 0; }
.wq_singleQuestionWrapper.wq_IsFlip:last-of-type { margin-bottom: 0; }
.wq_singleQuestionWrapper.wq_IsFb { position: relative; }
.wq_IsFlip .item_top { display: table; width: 100%; }
.wq_IsFlip .title_container { display: table-cell; text-align: left; }
.wq_IsFlip .front { cursor: pointer; height: auto !important; }
.wq_IsFlip .back { height: auto !important; cursor: pointer; }
.wq_IsFlip img { width: 100%; height: auto; top: 0; left: 0; vertical-align: middle; }
.wq_IsFlip .desc { position: absolute; left: 0; bottom: 0; top: 0; right: 0; }
.wq_IsFlip .front .desc { line-height: 36px; height: 36px; background: rgba(0, 0, 0, 0.45); color: #fff; font-size: 18px; }
.wq_IsFlip .desc > div { text-align: center; width: 100%; height: 100%; background: rgba(49, 19, 19, 0.7); font-size: 34px; line-height: 1.4; color: #fff; display: -ms-flexbox; display: flex; ms-flex-align: center; align-items: center; ms-flex-pack: center; justify-content: center; padding: 15px; box-sizing: border-box; }
.wq_IsFb .wq_loader-container { position: absolute; top: 0; bottom: 0; width: 100%; height: 100%; background: #fff; z-index: 9999; opacity: 0.9; }
.wq_IsFb .wq_loader_text { padding-top: 30%; }
.wq_IsFb .wq_loader-container img { width: 64px; }
.wq_IsFb .wq_questionMediaCtr { margin: 25px auto; }
.wq_IsFb .wq_questionImage { height: inherit; }
.wq_embedToggleQuiz, .wq_embedToggleQuiz input { float: left; width: 100%; box-sizing: border-box; }
.wq_embedToggleQuiz { clear: both; margin: 15px 0; }
.wq_questionMediaCtr { width: 100%; margin-bottom: 15px; }
.wq_questionAnswersCtr { width: 100%; }
.wq_questionImage { position: relative; width: 100%; height: 90%; }
.wq_quizCtr .wq_singleAnswerCtr.wq_IsPersonality.wq_answerSelected { opacity: 1; }
.wq_questionImage > span, .credits { position: absolute; bottom: 0; right: 0; background: rgba(236, 240, 241, 0.65); padding: 0 9px; font-size: 12px; line-height: 20px; }
.quiz-pro-clearfix { clear: both; zoom: 1; }
.quiz-pro-clearfix:before, .quiz-pro-clearfix:after { content: " "; display: table; }
.quiz-pro-clearfix:after { clear: both; }
i.icon.video.play { font-style: normal; }
i.icon.video.play:before { content: ""; background-image: url(images/spritesheet.png); background-repeat: no-repeat; background-size: 186px 87px; display: block; position: absolute; width: 82px; height: 82px; background-position: -63px -3px; }
.ui.embed .icon:hover:before { color: #fff; }
.ui.embed>.placeholder { height: 100% !important; }
.sprite { display: inline-block; position: relative; }
.sprite:after { content: ""; background-image: url(images/spritesheet.png); background-repeat: no-repeat; background-size: 186px 87px; display: block; position: absolute; }
.wq_shareCtr .sprite:after, .wq_questionLogin .sprite:after { width: 14px; height: 14px; top: -12px; left: 13px; }
.sprite-facebook:after { background-position: -25px -3px; }
.sprite-twitter:after { background-position: -150px -31px; }
.sprite-google-plus:after { background-position: -44px -3px; }
.sprite-vk:after { background-position: -169px -31px; }
.actions .sprite:after { width: 24px; height: 24px; top: -18px; left: -10px; }
.sprite-thumbs-down:after { background-position: -150px -3px; }
.sprite-thumbs-up:after { background-position: -3px -31px; }
@media screen and (max-width: 600px) {
  .wq_IsSwiperResult { width: 100% !important; }
}
@media screen and (max-width: 550px) {
  .wq_IsFlip .desc > div { font-size: 28px; }
  .col-md-wq-4 { width: 100%; }
}
@media screen and (max-width: 480px) {
  .wq_IsFlip .desc > div { font-size: 22px; }
  .wq_singleQuestionWrapper .wq_continue button, .wq_triviaQuizTimerInfoCtr button { font-size: 15px; padding: 10px; }
  .wq_singleResultWrapper { font-size: 15px; }
  .wq_singleResultWrapper .wq_shareCtr button, .wq_quizForceShareCtr button { font-size: 12px; }
  .wq_questionTextCtr h4 { font-size: 20px; }
  .wq_retakeQuizBtn { font-size: 17px; }
}
@media screen and (max-width: 480px) {
  .wq_IsFlip .desc > div { font-size: 18px; }
}

/*!
 * # Semantic UI 2.1.7 - Transition
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Copyright 2015 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.transition{-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-duration:300ms;animation-duration:300ms;-webkit-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animating.transition{-webkit-backface-visibility:hidden;backface-visibility:hidden;visibility:visible!important}.loading.transition{position:absolute;top:-99999px;left:-99999px}.hidden.transition{display:none;visibility:hidden}.visible.transition{display:block!important;visibility:visible!important}.disabled.transition{-webkit-animation-play-state:paused;animation-play-state:paused}.looping.transition{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.transition.browse{-webkit-animation-duration:500ms;animation-duration:500ms}.transition.browse.in{-webkit-animation-name:browseIn;animation-name:browseIn}.transition.browse.left.out,.transition.browse.out{-webkit-animation-name:browseOutLeft;animation-name:browseOutLeft}.transition.browse.right.out{-webkit-animation-name:browseOutRight;animation-name:browseOutRight}@-webkit-keyframes browseIn{0%{-webkit-transform:scale(.8) translateZ(0);transform:scale(.8) translateZ(0);z-index:-1}10%{-webkit-transform:scale(.8) translateZ(0);transform:scale(.8) translateZ(0);z-index:-1;opacity:.7}80%{-webkit-transform:scale(1.05) translateZ(0);transform:scale(1.05) translateZ(0);opacity:1;z-index:999}100%{-webkit-transform:scale(1) translateZ(0);transform:scale(1) translateZ(0);z-index:999}}@keyframes browseIn{0%{-webkit-transform:scale(.8) translateZ(0);transform:scale(.8) translateZ(0);z-index:-1}10%{-webkit-transform:scale(.8) translateZ(0);transform:scale(.8) translateZ(0);z-index:-1;opacity:.7}80%{-webkit-transform:scale(1.05) translateZ(0);transform:scale(1.05) translateZ(0);opacity:1;z-index:999}100%{-webkit-transform:scale(1) translateZ(0);transform:scale(1) translateZ(0);z-index:999}}@-webkit-keyframes browseOutLeft{0%{z-index:999;-webkit-transform:translateX(0) rotateY(0) rotateX(0);transform:translateX(0) rotateY(0) rotateX(0)}50%{z-index:-1;-webkit-transform:translateX(-105%) rotateY(35deg) rotateX(10deg) translateZ(-10px);transform:translateX(-105%) rotateY(35deg) rotateX(10deg) translateZ(-10px)}80%{opacity:1}100%{z-index:-1;-webkit-transform:translateX(0) rotateY(0) rotateX(0) translateZ(-10px);transform:translateX(0) rotateY(0) rotateX(0) translateZ(-10px);opacity:0}}@keyframes browseOutLeft{0%{z-index:999;-webkit-transform:translateX(0) rotateY(0) rotateX(0);transform:translateX(0) rotateY(0) rotateX(0)}50%{z-index:-1;-webkit-transform:translateX(-105%) rotateY(35deg) rotateX(10deg) translateZ(-10px);transform:translateX(-105%) rotateY(35deg) rotateX(10deg) translateZ(-10px)}80%{opacity:1}100%{z-index:-1;-webkit-transform:translateX(0) rotateY(0) rotateX(0) translateZ(-10px);transform:translateX(0) rotateY(0) rotateX(0) translateZ(-10px);opacity:0}}@-webkit-keyframes browseOutRight{0%{z-index:999;-webkit-transform:translateX(0) rotateY(0) rotateX(0);transform:translateX(0) rotateY(0) rotateX(0)}50%{z-index:1;-webkit-transform:translateX(105%) rotateY(35deg) rotateX(10deg) translateZ(-10px);transform:translateX(105%) rotateY(35deg) rotateX(10deg) translateZ(-10px)}80%{opacity:1}100%{z-index:1;-webkit-transform:translateX(0) rotateY(0) rotateX(0) translateZ(-10px);transform:translateX(0) rotateY(0) rotateX(0) translateZ(-10px);opacity:0}}@keyframes browseOutRight{0%{z-index:999;-webkit-transform:translateX(0) rotateY(0) rotateX(0);transform:translateX(0) rotateY(0) rotateX(0)}50%{z-index:1;-webkit-transform:translateX(105%) rotateY(35deg) rotateX(10deg) translateZ(-10px);transform:translateX(105%) rotateY(35deg) rotateX(10deg) translateZ(-10px)}80%{opacity:1}100%{z-index:1;-webkit-transform:translateX(0) rotateY(0) rotateX(0) translateZ(-10px);transform:translateX(0) rotateY(0) rotateX(0) translateZ(-10px);opacity:0}}.drop.transition{-webkit-transform-origin:top center;-ms-transform-origin:top center;transform-origin:top center;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.34,1.61,.7,1);animation-timing-function:cubic-bezier(.34,1.61,.7,1)}.drop.transition.in{-webkit-animation-name:dropIn;animation-name:dropIn}.drop.transition.out{-webkit-animation-name:dropOut;animation-name:dropOut}@-webkit-keyframes dropIn{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes dropIn{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes dropOut{0%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}100%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}}@keyframes dropOut{0%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}100%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}}.transition.fade.in{-webkit-animation-name:fadeIn;animation-name:fadeIn}.transition[class*="fade up"].in{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}.transition[class*="fade down"].in{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}.transition[class*="fade left"].in{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}.transition[class*="fade right"].in{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}.transition.fade.out{-webkit-animation-name:fadeOut;animation-name:fadeOut}.transition[class*="fade up"].out{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}.transition[class*="fade down"].out{-webkit-animation-name:fadeOutDown;animation-name:fadeOutDown}.transition[class*="fade left"].out{-webkit-animation-name:fadeOutLeft;animation-name:fadeOutLeft}.transition[class*="fade right"].out{-webkit-animation-name:fadeOutRight;animation-name:fadeOutRight}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(10%);transform:translateY(10%)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(10%);transform:translateY(10%)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-10%);transform:translateY(-10%)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-10%);transform:translateY(-10%)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(10%);transform:translateX(10%)}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(10%);transform:translateX(10%)}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(-10%);transform:translateX(-10%)}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(-10%);transform:translateX(-10%)}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-webkit-keyframes fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(5%);transform:translateY(5%)}}@keyframes fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(5%);transform:translateY(5%)}}@-webkit-keyframes fadeOutDown{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-5%);transform:translateY(-5%)}}@keyframes fadeOutDown{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-5%);transform:translateY(-5%)}}@-webkit-keyframes fadeOutLeft{0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(5%);transform:translateX(5%)}}@keyframes fadeOutLeft{0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(5%);transform:translateX(5%)}}@-webkit-keyframes fadeOutRight{0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(-5%);transform:translateX(-5%)}}@keyframes fadeOutRight{0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(-5%);transform:translateX(-5%)}}.flip.transition.in,.flip.transition.out{-webkit-animation-duration:600ms;animation-duration:600ms}.horizontal.flip.transition.in{-webkit-animation-name:horizontalFlipIn;animation-name:horizontalFlipIn}.horizontal.flip.transition.out{-webkit-animation-name:horizontalFlipOut;animation-name:horizontalFlipOut}.vertical.flip.transition.in{-webkit-animation-name:verticalFlipIn;animation-name:verticalFlipIn}.vertical.flip.transition.out{-webkit-animation-name:verticalFlipOut;animation-name:verticalFlipOut}@-webkit-keyframes horizontalFlipIn{0%{-webkit-transform:perspective(2000px) rotateY(-90deg);transform:perspective(2000px) rotateY(-90deg);opacity:0}100%{-webkit-transform:perspective(2000px) rotateY(0);transform:perspective(2000px) rotateY(0);opacity:1}}@keyframes horizontalFlipIn{0%{-webkit-transform:perspective(2000px) rotateY(-90deg);transform:perspective(2000px) rotateY(-90deg);opacity:0}100%{-webkit-transform:perspective(2000px) rotateY(0);transform:perspective(2000px) rotateY(0);opacity:1}}@-webkit-keyframes verticalFlipIn{0%{-webkit-transform:perspective(2000px) rotateX(-90deg);transform:perspective(2000px) rotateX(-90deg);opacity:0}100%{-webkit-transform:perspective(2000px) rotateX(0);transform:perspective(2000px) rotateX(0);opacity:1}}@keyframes verticalFlipIn{0%{-webkit-transform:perspective(2000px) rotateX(-90deg);transform:perspective(2000px) rotateX(-90deg);opacity:0}100%{-webkit-transform:perspective(2000px) rotateX(0);transform:perspective(2000px) rotateX(0);opacity:1}}@-webkit-keyframes horizontalFlipOut{0%{-webkit-transform:perspective(2000px) rotateY(0);transform:perspective(2000px) rotateY(0);opacity:1}100%{-webkit-transform:perspective(2000px) rotateY(90deg);transform:perspective(2000px) rotateY(90deg);opacity:0}}@keyframes horizontalFlipOut{0%{-webkit-transform:perspective(2000px) rotateY(0);transform:perspective(2000px) rotateY(0);opacity:1}100%{-webkit-transform:perspective(2000px) rotateY(90deg);transform:perspective(2000px) rotateY(90deg);opacity:0}}@-webkit-keyframes verticalFlipOut{0%{-webkit-transform:perspective(2000px) rotateX(0);transform:perspective(2000px) rotateX(0);opacity:1}100%{-webkit-transform:perspective(2000px) rotateX(-90deg);transform:perspective(2000px) rotateX(-90deg);opacity:0}}@keyframes verticalFlipOut{0%{-webkit-transform:perspective(2000px) rotateX(0);transform:perspective(2000px) rotateX(0);opacity:1}100%{-webkit-transform:perspective(2000px) rotateX(-90deg);transform:perspective(2000px) rotateX(-90deg);opacity:0}}.scale.transition.in{-webkit-animation-name:scaleIn;animation-name:scaleIn}.scale.transition.out{-webkit-animation-name:scaleOut;animation-name:scaleOut}@-webkit-keyframes scaleIn{0%{opacity:0;-webkit-transform:scale(.8);transform:scale(.8)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes scaleIn{0%{opacity:0;-webkit-transform:scale(.8);transform:scale(.8)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes scaleOut{0%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}100%{opacity:0;-webkit-transform:scale(.9);transform:scale(.9)}}@keyframes scaleOut{0%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}100%{opacity:0;-webkit-transform:scale(.9);transform:scale(.9)}}.transition.fly{-webkit-animation-duration:.6s;animation-duration:.6s;-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}.transition.fly.in{-webkit-animation-name:flyIn;animation-name:flyIn}.transition[class*="fly up"].in{-webkit-animation-name:flyInUp;animation-name:flyInUp}.transition[class*="fly down"].in{-webkit-animation-name:flyInDown;animation-name:flyInDown}.transition[class*="fly left"].in{-webkit-animation-name:flyInLeft;animation-name:flyInLeft}.transition[class*="fly right"].in{-webkit-animation-name:flyInRight;animation-name:flyInRight}.transition.fly.out{-webkit-animation-name:flyOut;animation-name:flyOut}.transition[class*="fly up"].out{-webkit-animation-name:flyOutUp;animation-name:flyOutUp}.transition[class*="fly down"].out{-webkit-animation-name:flyOutDown;animation-name:flyOutDown}.transition[class*="fly left"].out{-webkit-animation-name:flyOutLeft;animation-name:flyOutLeft}.transition[class*="fly right"].out{-webkit-animation-name:flyOutRight;animation-name:flyOutRight}@-webkit-keyframes flyIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes flyIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@-webkit-keyframes flyInUp{0%{opacity:0;-webkit-transform:translate3d(0,1500px,0);transform:translate3d(0,1500px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes flyInUp{0%{opacity:0;-webkit-transform:translate3d(0,1500px,0);transform:translate3d(0,1500px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes flyInDown{0%{opacity:0;-webkit-transform:translate3d(0,-1500px,0);transform:translate3d(0,-1500px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}@keyframes flyInDown{0%{opacity:0;-webkit-transform:translate3d(0,-1500px,0);transform:translate3d(0,-1500px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}@-webkit-keyframes flyInLeft{0%{opacity:0;-webkit-transform:translate3d(1500px,0,0);transform:translate3d(1500px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}100%{-webkit-transform:none;transform:none}}@keyframes flyInLeft{0%{opacity:0;-webkit-transform:translate3d(1500px,0,0);transform:translate3d(1500px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}100%{-webkit-transform:none;transform:none}}@-webkit-keyframes flyInRight{0%{opacity:0;-webkit-transform:translate3d(-1500px,0,0);transform:translate3d(-1500px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}100%{-webkit-transform:none;transform:none}}@keyframes flyInRight{0%{opacity:0;-webkit-transform:translate3d(-1500px,0,0);transform:translate3d(-1500px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}100%{-webkit-transform:none;transform:none}}@-webkit-keyframes flyOut{20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}100%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}}@keyframes flyOut{20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}100%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}}@-webkit-keyframes flyOutUp{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}@keyframes flyOutUp{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}@-webkit-keyframes flyOutDown{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}@keyframes flyOutDown{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}@-webkit-keyframes flyOutRight{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}100%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}@keyframes flyOutRight{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}100%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}@-webkit-keyframes flyOutLeft{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}100%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}@keyframes flyOutLeft{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}100%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}.transition.slide.in,.transition[class*="slide down"].in{-webkit-animation-name:slideInY;animation-name:slideInY;-webkit-transform-origin:top center;-ms-transform-origin:top center;transform-origin:top center}.transition[class*="slide up"].in{-webkit-animation-name:slideInY;animation-name:slideInY;-webkit-transform-origin:bottom center;-ms-transform-origin:bottom center;transform-origin:bottom center}.transition[class*="slide left"].in{-webkit-animation-name:slideInX;animation-name:slideInX;-webkit-transform-origin:center right;-ms-transform-origin:center right;transform-origin:center right}.transition[class*="slide right"].in{-webkit-animation-name:slideInX;animation-name:slideInX;-webkit-transform-origin:center left;-ms-transform-origin:center left;transform-origin:center left}.transition.slide.out,.transition[class*="slide down"].out{-webkit-animation-name:slideOutY;animation-name:slideOutY;-webkit-transform-origin:top center;-ms-transform-origin:top center;transform-origin:top center}.transition[class*="slide up"].out{-webkit-animation-name:slideOutY;animation-name:slideOutY;-webkit-transform-origin:bottom center;-ms-transform-origin:bottom center;transform-origin:bottom center}.transition[class*="slide left"].out{-webkit-animation-name:slideOutX;animation-name:slideOutX;-webkit-transform-origin:center right;-ms-transform-origin:center right;transform-origin:center right}.transition[class*="slide right"].out{-webkit-animation-name:slideOutX;animation-name:slideOutX;-webkit-transform-origin:center left;-ms-transform-origin:center left;transform-origin:center left}@-webkit-keyframes slideInY{0%{opacity:0;-webkit-transform:scaleY(0);transform:scaleY(0)}100%{opacity:1;-webkit-transform:scaleY(1);transform:scaleY(1)}}@keyframes slideInY{0%{opacity:0;-webkit-transform:scaleY(0);transform:scaleY(0)}100%{opacity:1;-webkit-transform:scaleY(1);transform:scaleY(1)}}@-webkit-keyframes slideInX{0%{opacity:0;-webkit-transform:scaleX(0);transform:scaleX(0)}100%{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes slideInX{0%{opacity:0;-webkit-transform:scaleX(0);transform:scaleX(0)}100%{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}}@-webkit-keyframes slideOutY{0%{opacity:1;-webkit-transform:scaleY(1);transform:scaleY(1)}100%{opacity:0;-webkit-transform:scaleY(0);transform:scaleY(0)}}@keyframes slideOutY{0%{opacity:1;-webkit-transform:scaleY(1);transform:scaleY(1)}100%{opacity:0;-webkit-transform:scaleY(0);transform:scaleY(0)}}@-webkit-keyframes slideOutX{0%{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}100%{opacity:0;-webkit-transform:scaleX(0);transform:scaleX(0)}}@keyframes slideOutX{0%{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}100%{opacity:0;-webkit-transform:scaleX(0);transform:scaleX(0)}}.transition.swing{-webkit-animation-duration:800ms;animation-duration:800ms}.transition[class*="swing down"].in{-webkit-animation-name:swingInX;animation-name:swingInX;-webkit-transform-origin:top center;-ms-transform-origin:top center;transform-origin:top center}.transition[class*="swing up"].in{-webkit-animation-name:swingInX;animation-name:swingInX;-webkit-transform-origin:bottom center;-ms-transform-origin:bottom center;transform-origin:bottom center}.transition[class*="swing left"].in{-webkit-animation-name:swingInY;animation-name:swingInY;-webkit-transform-origin:center right;-ms-transform-origin:center right;transform-origin:center right}.transition[class*="swing right"].in{-webkit-animation-name:swingInY;animation-name:swingInY;-webkit-transform-origin:center left;-ms-transform-origin:center left;transform-origin:center left}.transition.swing.out,.transition[class*="swing down"].out{-webkit-animation-name:swingOutX;animation-name:swingOutX;-webkit-transform-origin:top center;-ms-transform-origin:top center;transform-origin:top center}.transition[class*="swing up"].out{-webkit-animation-name:swingOutX;animation-name:swingOutX;-webkit-transform-origin:bottom center;-ms-transform-origin:bottom center;transform-origin:bottom center}.transition[class*="swing left"].out{-webkit-animation-name:swingOutY;animation-name:swingOutY;-webkit-transform-origin:center right;-ms-transform-origin:center right;transform-origin:center right}.transition[class*="swing right"].out{-webkit-animation-name:swingOutY;animation-name:swingOutY;-webkit-transform-origin:center left;-ms-transform-origin:center left;transform-origin:center left}@-webkit-keyframes swingInX{0%{-webkit-transform:perspective(1000px) rotateX(90deg);transform:perspective(1000px) rotateX(90deg);opacity:0}40%{-webkit-transform:perspective(1000px) rotateX(-30deg);transform:perspective(1000px) rotateX(-30deg);opacity:1}60%{-webkit-transform:perspective(1000px) rotateX(15deg);transform:perspective(1000px) rotateX(15deg)}80%{-webkit-transform:perspective(1000px) rotateX(-7.5deg);transform:perspective(1000px) rotateX(-7.5deg)}100%{-webkit-transform:perspective(1000px) rotateX(0);transform:perspective(1000px) rotateX(0)}}@keyframes swingInX{0%{-webkit-transform:perspective(1000px) rotateX(90deg);transform:perspective(1000px) rotateX(90deg);opacity:0}40%{-webkit-transform:perspective(1000px) rotateX(-30deg);transform:perspective(1000px) rotateX(-30deg);opacity:1}60%{-webkit-transform:perspective(1000px) rotateX(15deg);transform:perspective(1000px) rotateX(15deg)}80%{-webkit-transform:perspective(1000px) rotateX(-7.5deg);transform:perspective(1000px) rotateX(-7.5deg)}100%{-webkit-transform:perspective(1000px) rotateX(0);transform:perspective(1000px) rotateX(0)}}@-webkit-keyframes swingInY{0%{-webkit-transform:perspective(1000px) rotateY(-90deg);transform:perspective(1000px) rotateY(-90deg);opacity:0}40%{-webkit-transform:perspective(1000px) rotateY(30deg);transform:perspective(1000px) rotateY(30deg);opacity:1}60%{-webkit-transform:perspective(1000px) rotateY(-17.5deg);transform:perspective(1000px) rotateY(-17.5deg)}80%{-webkit-transform:perspective(1000px) rotateY(7.5deg);transform:perspective(1000px) rotateY(7.5deg)}100%{-webkit-transform:perspective(1000px) rotateY(0);transform:perspective(1000px) rotateY(0)}}@keyframes swingInY{0%{-webkit-transform:perspective(1000px) rotateY(-90deg);transform:perspective(1000px) rotateY(-90deg);opacity:0}40%{-webkit-transform:perspective(1000px) rotateY(30deg);transform:perspective(1000px) rotateY(30deg);opacity:1}60%{-webkit-transform:perspective(1000px) rotateY(-17.5deg);transform:perspective(1000px) rotateY(-17.5deg)}80%{-webkit-transform:perspective(1000px) rotateY(7.5deg);transform:perspective(1000px) rotateY(7.5deg)}100%{-webkit-transform:perspective(1000px) rotateY(0);transform:perspective(1000px) rotateY(0)}}@-webkit-keyframes swingOutX{0%{-webkit-transform:perspective(1000px) rotateX(0);transform:perspective(1000px) rotateX(0)}40%{-webkit-transform:perspective(1000px) rotateX(-7.5deg);transform:perspective(1000px) rotateX(-7.5deg)}60%{-webkit-transform:perspective(1000px) rotateX(17.5deg);transform:perspective(1000px) rotateX(17.5deg)}80%{-webkit-transform:perspective(1000px) rotateX(-30deg);transform:perspective(1000px) rotateX(-30deg);opacity:1}100%{-webkit-transform:perspective(1000px) rotateX(90deg);transform:perspective(1000px) rotateX(90deg);opacity:0}}@keyframes swingOutX{0%{-webkit-transform:perspective(1000px) rotateX(0);transform:perspective(1000px) rotateX(0)}40%{-webkit-transform:perspective(1000px) rotateX(-7.5deg);transform:perspective(1000px) rotateX(-7.5deg)}60%{-webkit-transform:perspective(1000px) rotateX(17.5deg);transform:perspective(1000px) rotateX(17.5deg)}80%{-webkit-transform:perspective(1000px) rotateX(-30deg);transform:perspective(1000px) rotateX(-30deg);opacity:1}100%{-webkit-transform:perspective(1000px) rotateX(90deg);transform:perspective(1000px) rotateX(90deg);opacity:0}}@-webkit-keyframes swingOutY{0%{-webkit-transform:perspective(1000px) rotateY(0);transform:perspective(1000px) rotateY(0)}40%{-webkit-transform:perspective(1000px) rotateY(7.5deg);transform:perspective(1000px) rotateY(7.5deg)}60%{-webkit-transform:perspective(1000px) rotateY(-10deg);transform:perspective(1000px) rotateY(-10deg)}80%{-webkit-transform:perspective(1000px) rotateY(30deg);transform:perspective(1000px) rotateY(30deg);opacity:1}100%{-webkit-transform:perspective(1000px) rotateY(-90deg);transform:perspective(1000px) rotateY(-90deg);opacity:0}}@keyframes swingOutY{0%{-webkit-transform:perspective(1000px) rotateY(0);transform:perspective(1000px) rotateY(0)}40%{-webkit-transform:perspective(1000px) rotateY(7.5deg);transform:perspective(1000px) rotateY(7.5deg)}60%{-webkit-transform:perspective(1000px) rotateY(-10deg);transform:perspective(1000px) rotateY(-10deg)}80%{-webkit-transform:perspective(1000px) rotateY(30deg);transform:perspective(1000px) rotateY(30deg);opacity:1}100%{-webkit-transform:perspective(1000px) rotateY(-90deg);transform:perspective(1000px) rotateY(-90deg);opacity:0}}.flash.transition{-webkit-animation-duration:750ms;animation-duration:750ms;-webkit-animation-name:flash;animation-name:flash}.shake.transition{-webkit-animation-duration:750ms;animation-duration:750ms;-webkit-animation-name:shake;animation-name:shake}.bounce.transition{-webkit-animation-duration:750ms;animation-duration:750ms;-webkit-animation-name:bounce;animation-name:bounce}.tada.transition{-webkit-animation-duration:750ms;animation-duration:750ms;-webkit-animation-name:tada;animation-name:tada}.pulse.transition{-webkit-animation-duration:500ms;animation-duration:500ms;-webkit-animation-name:pulse;animation-name:pulse}.jiggle.transition{-webkit-animation-duration:750ms;animation-duration:750ms;-webkit-animation-name:jiggle;animation-name:jiggle}@-webkit-keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}@keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px)}}@keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px)}}@-webkit-keyframes bounce{0%,100%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}40%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}}@keyframes bounce{0%,100%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}40%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}}@-webkit-keyframes tada{0%{-webkit-transform:scale(1);transform:scale(1)}10%,20%{-webkit-transform:scale(.9) rotate(-3deg);transform:scale(.9) rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);transform:scale(1.1) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);transform:scale(1.1) rotate(-3deg)}100%{-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}}@keyframes tada{0%{-webkit-transform:scale(1);transform:scale(1)}10%,20%{-webkit-transform:scale(.9) rotate(-3deg);transform:scale(.9) rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);transform:scale(1.1) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);transform:scale(1.1) rotate(-3deg)}100%{-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}}@-webkit-keyframes pulse{0%,100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}50%{-webkit-transform:scale(.9);transform:scale(.9);opacity:.7}}@keyframes pulse{0%,100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}50%{-webkit-transform:scale(.9);transform:scale(.9);opacity:.7}}@-webkit-keyframes jiggle{0%,100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}}@keyframes jiggle{0%,100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}}

/*!
 * # Semantic UI 2.1.7 - Video
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Copyright 2015 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */.ui.embed{position:relative;max-width:100%;height:0;overflow:hidden;background:#dcddde;padding-bottom:56.25%}.ui.embed embed,.ui.embed iframe,.ui.embed object{position:absolute;border:none;width:100%;height:100%;top:0;left:0;margin:0;padding:0}.ui.embed>.embed{display:none}.ui.embed>.placeholder{position:absolute;cursor:pointer;top:0;left:0;display:block;width:100%;height:100%;background-color:radial-gradient(transparent 45%,rgba(0,0,0,.3))}.ui.embed>.icon{cursor:pointer;position:absolute;top:0;left:0;width:100%;height:100%;z-index:2}.ui.embed>.icon:after{position:absolute;top:0;left:0;width:100%;height:100%;z-index:3;content:'';background:-webkit-radial-gradient(transparent 45%,rgba(0,0,0,.3));background:radial-gradient(transparent 45%,rgba(0,0,0,.3));opacity:.5;-webkit-transition:opacity .5s ease;transition:opacity .5s ease}.ui.embed>.icon:before{position:absolute;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);color:#fff;font-size:6rem;text-shadow:0 2px 10px rgba(34,36,38,.2);-webkit-transition:opacity .5s ease,color .5s ease;transition:opacity .5s ease,color .5s ease;z-index:10}.ui.embed .icon:hover:after{background:-webkit-radial-gradient(transparent 45%,rgba(0,0,0,.3));background:radial-gradient(transparent 45%,rgba(0,0,0,.3));opacity:1}.ui.embed .icon:hover:before{color:#fff}.ui.active.embed>.icon,.ui.active.embed>.placeholder{display:none}.ui.active.embed>.embed{display:block}.ui.square.embed{padding-bottom:100%}.ui[class*="4:3"].embed{padding-bottom:75%}.ui[class*="16:9"].embed{padding-bottom:56.25%}.ui[class*="21:9"].embed{padding-bottom:42.85714286%}

/*
 * WP Quiz Pro Plugin by MyThemeShop
 * https://mythemeshop.com/plugins/wp-quiz-pro/
*/
.wq_IsSwiperResult h3 { border-radius: 0; background: #131311; }
.wq_quizCtr .wq_singleAnswerCtr { border: 1px solid rgba(0, 0, 0, 0.1); background: #f2f2f2; margin: 0 0 15px 0; line-height: 30px; }
.wq_quizCtr .wq_singleAnswerCtr:last-of-type { margin-bottom: 0 }
.wq_questionTextCtr { background: #f2f2f2; }
.wq_singleAnswerCtr:hover, .wq_singleAnswerCtr.chosen, .wq_quizCtr .wq_singleAnswerCtr.wq_IsPersonality.wq_answerSelected { background: #ffffffb5!important; color: #000!important; transition: background 550ms ease-out; cursor: pointer; }
.wq_quizCtr .wq_singleAnswerCtr.wq_answerSelected { background: #131311!important; color: #fff!important; }
.wq_quizCtr .wq_singleAnswerCtr.wq_correctAnswer {background: #131311!important; border-color: #409444!important; color: #fff!important; opacity: 0.3; }
.wq_quizCtr .wq_singleAnswerCtr.wq_incorrectAnswer { background: #F44336!important; border-color: #CE392E!important; color: #fff!important; opacity: 0.65; }
.wq_questionAnswered .wq_singleAnswerCtr { opacity: 0.3 }
.wq_questionAnswered .wq_singleAnswerCtr.chosen { opacity: 0.65 }
.wq_correctExplanationHead { color: #4CAF50; font-weight: bold; font-size: 1.2em; }
.wq_wrongExplanationHead { color: #F44336; font-weight: bold; font-size: 1.2em; }
.wq_quizForceActionCtr {background: #f2f2f2;padding: 30px 20px;border: 1px solid #dddddd;text-align: center;float: left;width: 100%;box-sizing: border-box;margin-top: 30px;}
.wq_IsSwiperResult .wq_retakeSwiperWrapper,.wq_singleResultWrapper.wq_IsSwiperResult .wq_shareCtr {background: #f2f2f2;border-right: 1px solid #ddd;border-left: 1px solid #ddd;}
.wq_IsSwiperResult .resultImageWrapper .indexWrapper, .wq_IsSwiperResult .userVote, .wq_retakeSwiperBtn:hover { background: #4CAF50; border-color: #4CAF50; border-radius: 0; }
.wq_IsSwiperResult .userVote.negativeVote { background: #F44336; }


